{% extends ':Layout:general.html.twig' %}

{% block section %}
    Login
{% endblock %}

{% block section2 %}
    Login
{% endblock %}

{% block contenido %}
   <section class="pr-main" id="pr-register">	
        <div class="container">	
            <div class="col-md-9 col-sm-9 col-xs-12">		
                <div class="col-md-6 col-sm-6 col-xs-12 left">
                    <div id="register-users">
                        <h1>Create an Account</h1>
                        <h4>Personal Information</h4>
                        <form id="register-form" class="form-validate form-horizontal" method="post" action="#">
                            <p>First Name <span class="star">*</span></p>
                            <input class="firstname" type="text" value="">
                            <p>Last Name <span class="star">*</span></p>
                            <input class="lastname" type="text" value="">
                            <p>Create a username<span class="star">*</span></p>
                            <input class="user" type="text" value=""> 
                            <p>Email Address <span class="star">*</span></p>
                            <input class="email" type="text" value="">
                            <p>Create a password  <span class="star">*</span></p>
                            <input class="pasword" type="password" value="">
                            <p>confirm a password  <span class="star">*</span></p>
                            <input class="re-pasword" type="password" value=""> 
                            <div>
                            <input type="checkbox" value="yes" class="inputbox" name="remember" id="remember"><span class="re">Sign Up for Newsletter</span>
                            <br/>
                            <button type="submit" class="register">Register</button>
                            </div>
                        </form>
                    </div>    
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 right">
                    <div style="margin-bottom: 75px" id="login-users">
                        <h1>Login</h1>
                        <h4>Returning Customers</h4>
                        <p>If you have an account with us, please log in.</p>
                        <form id="login-form" class="form-validate form-horizontal" method="post" action="#">
                            <p>Email Address <span class="star">*</span></p>
                            <input class="email" type="text" value="">
                            <p>Password <span class="star">*</span></p>
                            <input class="pasword" type="text" value="">
                            <button type="submit" class="login">Login</button>
                        </form>
                    </div>
                    <div class="socail" id="facebook-connect">
                        <h4>Connect with Facebook</h4>
                        <p><span>Facebook Users</span></p>
                        <p>Use your Facebook account to login or register within our store.You're just one click away.</p>
                        <button type="submit" class="connectfa">Connect with facebook</button>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <img src="{{ asset('Resources/images/banner-wishlist.jpg') }}" />
            </div>

        </div>
    </section>
{% endblock %}  