{% extends ':Layout:general.html.twig' %}

{% block headerpage %}{% endblock %}     
{% block contenido %}
    <section id="pr-contact" class="pr-main">
        <div class="container" style="height: 540px">
            <div class="row">
                <div class="acc-title lg">
                    <div class="col-md-5 pull-left">
                        <h3 class="" style="color:#FFF;">Reset your password</h3>
                    </div>
                </div>
            </div>    
            <div class="clearfix"></div>
            <div class="row">
                <form id="reset-psw-form" action="{{ path('admin_forgot_passw') }}" method="POST">
                    <div class="col-md-4 col-md-offset-4 pull-center well text-justify" style="margin-top: 50px;">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Enter your email address and a new password will be sent.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {#<input type="text" name="email" class="form-control">#}
                                <div class="input-group input-group-in">
                                    <span class="input-group-addon" id="semail"><i class="fa fa-at"></i></span>
                                    <input data-mask="phone_with_ddd" class="form-control" name="email" id="email">
                                </div>
                            </div>
                            
                        </div> 
                        <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                            <div class="col-md-12">
                                <input type="submit" name="enviar" id="enviar" class="form-control btn btn-primary" value="Reset password"> 
                            </div>
                        </div> 
                    </div>
                    
                </form>    
            </div>
        </div>
    </section>    
{% endblock %}    
{% block javascripts_step %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $('#email').val('');
            $('#enviar').prop( "disabled", true );
            $(':text').blur(function(){
                var email = document.getElementById('email');
                var span = document.getElementById('semail');
                $.post( "{{ path('admin_search_email') }}", { 'email': $(this).val() }, function( data ) {
                    if(data.valido === 1){
                         email.setAttribute('class', 'form-control');
                         email.setAttribute('style', 'border-color: green');
                         span.setAttribute('style', 'border-color: green');
                         span.setAttribute('style', 'background-color: green');
                         $('#enviar').prop( "disabled", false );
                    } else {
                         email.setAttribute('class', 'form-control');
                         email.setAttribute('style', 'border-color: red');
                         span.setAttribute('style', 'border-color: red');
                         span.setAttribute('style', 'background-color: red');
                         $('#enviar').prop( "disabled", true );
                    }
                }, "json");
            });
        });
    </script>    
{% endblock %}    