{% block css %}
    
    
    <style>
        
        .roles label{
            width: 145px;
            margin-left:10px;
            margin-right:10px;
        }
    </style>
    
{% endblock %}

{% block body %}
   
    {{ form_start(form, {'action':path('admin_disapprovedesign_new',{'id':detalleOrden.id})}) }}
        {{ form_errors(form) }}
        <div class="row" style="margin: 50px 0;">
            <div class="col-md-5 text-right" style="margin-bottom: 4px;">
                Reason:
            </div>
            <div class="col-md-6" style="margin-bottom: 4px;">
                {{ form_widget(form.motivoArchivo) }}
            </div>
            <div class="clearfix"></div>
        </div>
        <input type="submit" value="Disapprove design" style="margin-bottom: 10px;" class="btn-nuevo btn pull-right"/>
    {{ form_end(form) }}

    
{% endblock %}
