<section class="home-make-print">
    <div class="container">
        <div class="row">
            <div class="block-title-w">
                <h2 class="block-title">HOW TO ORDER?</h2> 
                <span class="icon-title">
                    <span></span>
                    <i class="fa fa-star"></i>
                </span> 
            </div><!--make print Title : End -->
            <div class="print-content">
                <div class="col-md-4 col-sm-4 print-block print-block-left">
                    <div class="w-print-block frist">
                        <div class="print-icon">
                            <i class="fa fa-hand-o-up"></i>
                            <i class="fa fa-newspaper-o"></i>
                        </div>
                        <div class="print-title">
                            <a href="#">Select Products</a>
                        </div>
                        <div class="print-number">
                            <span>01</span>
                        </div>
                        <div class="print-txt">
                            <p>Choose options that you want for your prints.We will make you happy with your choices.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 print-block print-block-center">
                    <div class="w-print-block">
                        <div class="print-icon">
                            <i class="fa fa-file-text-o"></i> 
                            <i class="fa fa-arrow-circle-o-up"></i>
                        </div>
                        <div class="print-title">
                            <a href="#">Upload or we design</a>
                        </div>
                        <div class="print-number">
                            <span>02</span>
                        </div> 
                        <div class="print-txt">
                            <p>Upload your finished design here and we'll print it for you with your choices</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 print-block print-block-right">
                    <div class="w-print-block">
                        <div class="print-icon">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="print-title">
                            <a href="#">Checkout & Order</a>
                        </div>
                        <div class="print-number">
                            <span>03</span>
                        </div> 
                        <div class="print-txt">
                            <p>Checkout and finish your order very easy with one step checkout extension.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_make_print">

    </div>
</section>