{% extends ':Layout:general.html.twig' %}

{% block section %}
    T-Shirt Printing
{% endblock %}

{% block section2 %}
    T-Shirt Printing
{% endblock %}

{% block contenido %}
    <div class="container">
        <img src="{{ asset('Resources/images/slik_screen.jpg') }}">
        </br>
        <div class="row">
                <div class="col-md-8">
                    <p>Screen Printing / Silk Screen T-Shirts</p>
                    <p class="text-justify">Screen printing is a printing technique whereby a mesh is used to transfer ink onto a substrate, except in areas made impermeable to the ink by a blocking stencil. A blade or squeegee is moved across the screen to fill the open mesh apertures with ink, and a reverse stroke then causes the screen to touch the substrate momentarily along a line of contact. This causes the ink to wet the substrate and be pulled out of the mesh apertures as the screen springs back after the blade has passed.
                    </br></br>
                    Screen printing is also a stencil method of print making in which a design is imposed on a screen of polyester or other fine mesh, with blank areas coated with an impermeable substance. Ink is forced into the mesh openings by the fill blade or squeegee and by wetting the substrate, transferred onto the printing surface during the squeegee stroke. As the screen rebounds away from the substrate the ink remains on the substrate. It is also known as silk-screen, screen, serigraphy, and serigraph printing. One color is printed at a time, so several screens can be used to produce a multicoloured image or design.
                    </br></br>
                    There are various terms used for what is essentially the same technique. Traditionally the process was called screen printing or silkscreen printing because silk was used in the process prior to the invention of polyester mesh. Currently, synthetic threads are commonly used in the screen printing process. The most popular mesh in general use is made of polyester. There are special-use mesh materials of nylon and stainless steel available to the screen printer. There are also different types of mesh size which will determine the outcome and look of the finished design on the material.</p>
                    </br>
                    <p style="font-size: 20px;">ASK FOR OUR DEALS OF LARGE ORDERS!</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('Resources/images/print.jpg') }}">
                </div>
        </div>
        </br></br>
    </div>
{% endblock %}    